@import "../../scss/variables.scss";

.todo-list-container {
  width: 100%;
  min-height: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  background-color: $white-color;

  &__todo-list {
    background-color: $grey-color;
    width: 80%;
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    overflow-y: scroll;
  }
}
