$white-color: #fff;
$medium-light-grey-color: #84817a;
$light-grey-color: #dfe6e9;
$grey-color: #333;

$blue-color: #2c2c54;
$medium-light-blue-color: #40407a;
$light-blue-color: #474787;

$error-color: #b33939;
